[Unit]
Description=Podman  nginx.service
BindsTo=webserver.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/nginx.pid %t/nginx.ctr-id
ExecStartPre=%h/.config/bin/expand-vhosts
ExecStart=/usr/bin/podman run --conmon-pidfile %t/nginx.pid \
    --cidfile %t/nginx.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/webserver.pod-id --replace -d --name  nginx \
    --env-file=%S/state/environment \
    -v %h/.config/conf.d:/etc/nginx/conf.d:z -v %h/.config/websites:/usr/share/nginx/html:Z \
    docker.io/nginx:1.20.2
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/nginx.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nginx.ctr-id
PIDFile=%t/nginx.pid
Type=forking

[Install]
WantedBy=default.target